/*

.quizCard {
    display: none;
}
/* align start page and questions to center */
h1 {
    text-align: center;
}

#quizDirections {
    text-align: center;
}

#startButton {
    justify-content: center;
}

.quizAnswerCard {
    text-align: center;
}
