.quizCard {
    display: none;
}

h1 {
    text-align: center;
}

#quizDirections {
    text-align: center;
}

#startButton {
    justify-content: center;
}

.checkAnswer {
    justify-content: center;
}

.quizAnswerCard {
    text-align: center;
}