.quizCard {
    display: none;
}
/* align start page */
h1 {
    text-align: center;
}

#quizDirections {
    text-align: center;
}

#startButton {
    justify-content: center;
}
/*center quiz question/answer content*/

/* .checkAnswer {
    justify-content: center;
} */

.quizAnswerCard {
    text-align: center;
}
